@page "/"
<PageTitle>Index</PageTitle>

<div class="flex flex-col space-y-2">
<a class="btn btn-link" href="/login">Login</a>
<a class="btn btn-link" href="/signup">Signup</a>
<a class="btn btn-link" href="/retailer/home">Home Retailer</a>
<a class="btn btn-link" href="/client/home">Home Client</a>
</div>
