<div class="bg-grad relative h-full w-full px-10 py-5 flex flex-col justify-center items-center space-y-5 md:space-y-10">
    <div class="text-gray-50 space-y-1">
       <h1 class="text-gray-50 text-xl font-semibold">AfriNET,</h1>
            <h1 class="text-gray-50 text-xl font-semibold">Internet pour tous.</h1>
    </div>

    <img class="h-40 md:h-72" src="images/connect.svg" alt="Connect"/>

    <div class="flex items-center justify-end self-end">
        <img class="h-16" src="/images/afrinet-logo.svg" alt="AfriNET logo"/>
         <h1 class="text-gray-300 text-xl font-bold">AfriNET</h1>
    </div>
</div>