<div class="relative">
  <div class="bg-red-700 h-full relative z-10">
    <div class="px-2 pt-2 flex flex-col">
      <div class="row-1">
        <img class="h-14" src="/images/afrinet-logo.svg" />
        <div class="py-1 text-neutral-100 space-y-1">
          <h2>Content de te revoir,</h2>
          <h1 class="text-lg font-semibold">Jack Mutobu</h1>
        </div>
      </div>
      <div class="bg-red-700 h-20">
        <div class="bg-neutral-100 h-[1px] w-full"></div>
      </div>
    </div>
  </div>
  <div
    class="absolute bg-red-600 top-[9rem] left-5 right-5 z-30 rounded-md"
  >
    <div class="px-2 py-2 flex justify-between">
      <div class="text-neutral-100">
        <h1 class="text-lg">Solde en cours</h1>
        <h2 class="text-sm font-light">
          Code Retaileur: <span class="font-medium">098327323723</span>
        </h2>
      </div>
      <div>
        <button class="btn btn-circle btn-outline text-neutral-100">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="h-[1px] w-full bg-neutral-100"></div>
    <div class="px-2 py-2 text-neutral-100">
      <h1 class="text-lg font-semibold">10 000 FC</h1>
        <h2 class="text-sm font-light">
          Valide jusqu’au 04/10/2023 à 13h30
        </h2>
    </div>
  </div>
</div>

